body {
    background-color: #fff;
}

#auth {
    height: 100vh;
    overflow-x: hidden;
}

#auth #auth-right {
    background-color: #fff;
    height: 100%;
}

#auth #auth-left {
    padding: 1rem 2rem;
}

#auth #auth-left .auth-title {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

#auth #auth-left .auth-subtitle {
    color: #a8aebb;
    font-size: 1.7rem;
    line-height: 2.5rem;
}

#auth #auth-left .auth-logo {
    margin-bottom: 4rem;
}

#auth #auth-left .auth-logo img {
    height: 5rem;
}

@media screen and (max-width: 767px) {
    #auth #auth-left {
        padding: 3rem;
    }
}

@media screen and (max-width: 576px) {
    #auth #auth-left {
        padding: 3rem;
    }
}

body.theme-dark #auth-right {
    background: url(assets/images/banner/login_picture.png),
        linear-gradient(90deg, #2d499d, #3f5491);
}

@media (max-width: 1500px) {
    #auth-left {
        position: relative !important;
    }
}
